.column-header {
    -fx-pref-height: 50px;
    -fx-font-size: 14px;
    -fx-background-color: #8B0000;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 0 2px 0;
}

.cell {
    -fx-alignment: CENTER;
-fx-font-size: 12px;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #711019;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 0 0;
}

/* Đặt viền cho TableView */
.trans {
    -fx-border-color: transparent;
}

/* Đặt viền cho các ô hàng */
.table-row-cell {
    -fx-background-color: #711019;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 1px 0;
}
