.image-view {
    -fx-cursor: hand;
    -fx-opacity: 1;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s;
}

.image-view:hover {
    -fx-effect: dropshadow(gaussian, rgba(212, 175, 55, 0.35), 15, 0.8, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-opacity: 0.9;
}
