
#table_km .column-header {
    -fx-pref-height: 30px;
    -fx-font-size: 16px;
    -fx-background-color: #8B0000;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 0 2px 0;
}

#table_km .cell {
    -fx-alignment: CENTER;
    -fx-pref-height: 30px;
    -fx-font-size: 16px;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #711019;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 0 0;
}

/* Đặt viền cho TableView */
#table_km {
    -fx-border-color: transparent;
}

/* Đặt viền cho các ô hàng */
#table_km .table-row-cell {
    -fx-background-color: #711019;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 1px 0;
}
