
#table_tt .column-header {
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #8B0000;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 0 2px 0;
}

#table_tt .column-header .label {
    -fx-text-fill: #FFFFFF;
}

#table_tt .cell {
    -fx-alignment: CENTER;
    -fx-pref-height: 50px;
    -fx-font-size: 25px;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #711019;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 0 0;
}

/* Đặt viền cho TableView */
#table_tt {
    -fx-border-color: transparent;
}

/* Đặt viền cho các ô hàng */
#table_tt .table-row-cell {
    -fx-background-color: #711019;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 1px 0;
}
#title_km {
    -fx-background-color: #8B0000;
}
.txt_decor {
    -fx-font-size: 20px;
    -fx-text-fill: #F5F5F5;
}
#txt_mahoadon {
    -fx-font-weight: bold;
    -fx-text-fill: #FFD700;
}
#txt_tongtien{
    -fx-text-fill: #FFD700;
}
#txt_khachtra {
    -fx-font-weight: bold;
}
#table_monan .column-header {
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #8B0000;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 0 2px 0;
}

#table_monan .column-header .label {
    -fx-text-fill: #FFFFFF;
}

#table_monan .cell {
    -fx-alignment: CENTER;
    -fx-pref-height: 50px;
    -fx-font-size: 25px;
    -fx-text-fill: #1B1212;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 0 0;
}

/* Đặt viền cho TableView */
#table_monan {
    -fx-border-color: transparent;
}

/* Đặt viền cho các ô hàng */
#table_monan .table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 1px 0;
}

#table_monan .table-row-cell:selected,
#table_monan .table-row-cell:selected .cell {
    -fx-background-color: #A11212;
    -fx-text-fill: #FFFFFF;
}

#table_nhanvien .column-header {
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #8B0000;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 0 2px 0;
}

#table_nhanvien .column-header .label {
    -fx-text-fill: #FFFFFF;
}

#table_nhanvien .cell {
    -fx-alignment: CENTER;
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-text-fill: #1B1212;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 0 0;
}

/* Đặt viền cho TableView */
#table_nhanvien {
    -fx-border-color: transparent;
}

/* Đặt viền cho các ô hàng */
#table_nhanvien .table-row-cell {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 1px 0;
}

#table_nhanvien .table-row-cell:selected,
#table_nhanvien .table-row-cell:selected .cell {
    -fx-background-color: #A11212;
    -fx-text-fill: #FFFFFF;
}
