
#banghoadon .column-header {
    -fx-pref-height: 50px;
    -fx-font-size: 16px;
    -fx-background-color: #8B0000;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 0 2px 0;
}

#banghoadon .column-header .label {
    -fx-text-fill: #FFFFFF;
}

#banghoadon .cell {
    -fx-alignment: CENTER;
    -fx-pref-height: 50px;
    -fx-font-size: 25px;
    -fx-text-fill: #F5F5F5;
    -fx-background-color: #1B1212;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 0 0;
}

/* Đặt viền cho TableView */
#banghoadon {
    -fx-border-color: transparent;
}

/* Đặt viền cho các ô hàng */
#banghoadon .table-row-cell {
    -fx-background-color: #1B1212;
    -fx-border-color: #D4AF37;
    -fx-border-width: 0 1px 1px 0;
}
